.text-weight {
    
    font-size: 36px;
}

.news{
    margin-top:30px;
}

.news .container .big_text{
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
}

.news .container .date_line{
    color:rgb(109, 109, 109);
    font-weight: bold;
    font-family: "Montserrat", sans-serif;

}


.news .ocn_text{
    font-weight: 600;
    color:rgb(147, 147, 147);
    font-family: "Montserrat", sans-serif;
}