#text{
    margin-top: 50px;
    text-align: center;
    font-size: 15px;
    color:rgb(114, 114, 114);
    font-weight: 500;
}

#text2{
    text-align: center;
    margin-bottom: 50px;
    font-size: 30px;
    color: black;
    font-weight: bold;
    
}

